*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --frameWidth: 800px;
    /* --cellWidth:""; */
    /*la cellwidth è facoltativa in quanto la genero da js*/
}
h1, main{
    text-align: center;
}
#parentFrame{
    width: var(--frameWidth);
    margin: auto;
    position:relative;
    display: flex;
    justify-content: center;
}
#gameFrame{
    width: var(--frameWidth);
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    background-color: lightpink;
}
.d-flex{
    display: flex;
}
#lost{
    width: var(--frameWidth);
    height: var(--frameWidth);
    justify-content: center;
    align-items: center;
    position: absolute;
}
#lost *{
    transform: scale(5);
}
.underlay{
    z-index: -1;
}
.cell{
    border: 1px solid grey;
    width: var(--cellWidth);
    height: var(--cellWidth);
    /* width: 300px; */
    /* height: 300px; */
}
/*cells mine data align*/
.center{
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.top, .bot, .right, .left{
    padding: 5px;
}
.left{
    width: 25%;
    text-align: start;
    align-self:center;
}
.right{
    width: 25%;
    text-align: end;
    align-self:center;
}
/*end data align*/
.invisible{
    display: none;
}
.get_in_background{
    position: relative;
}
.checkedBgr{
    background-color: lightpink;
}
.stdBgr{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}
.bomb{
    background-image: url(../media/bomb.png);
    background-size: 80%;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}
