*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --frameWidth: 800px;
    /* --cellWidth:""; */
    /*la cellwidth è facoltativa in quanto la genero da js*/
}
#gameFrame{
    width: var(--frameWidth);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.cell{
    border: 1px solid grey;
    width: var(--cellWidth);
    height: var(--cellWidth);
}
.invisible{
    display: none;
}
.checkedBgr{
    background-color: lightpink;
}
.stdBgr{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}
.bomb{
    background-image: url(../media/bomb.png);
    background-size: 80%;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}
